body {
    width: 900px;
    margin: 0 auto;
    line-height: 1.5;
}

#hero {
    background-image: url("../images/torshov-image.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 1px;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #FFFFFF;
}

.hero-heading {
    font-size: 32px;
    background-color: #1D3557;
    width: 230px;
    border-radius: 10px;
    margin: 140px auto 0;
    padding: 6px 12px;
}

.hero-description {
    font-size: 18px;
    background-color: #457B9D;
    width: 400px;
    border-radius: 10px;
    margin: 12px auto 140px;
    padding: 5px 25px;
}
