body {
    margin: 0;
    background: #EDEDED;
}

.container {
    width: 375px;
    margin: 0 auto;
    background: #EDEDED;
}

header, section {
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    padding: 0 10px;
}

section {
    margin-bottom: 25px;
}

section:last-child {
    margin-bottom: 0;
}

.header-logo {
    width: 127px;
}

.avatar {
    width: 34px;
    border-radius: 50%;
    align-self: center;
}

.post-header-container {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.post-h1 {
    font-size: 13px;
    margin: 0;
}

.post-p {
    margin: 0;
    font-size: 12px;
}

.post-image {
    width: 100%;
}

.post-icon-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.icon {
    width: 25px;
}

.post-like-count {
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 700;
}

.post-comment-container {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.post-comment-h2,
.post-comment-p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
