body {
    margin: 0;
    font-family: Inter, serif;
    font-size: 16px;
    background: #2B283A;
}

main {
    width: 320px;
    margin: 0 auto;
    background: #F5F5F5;
    border-radius: 10px;
}

.container {
    width: 255px;
    margin: 0 auto;
}

.profile-image {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.title-header {
    color: #2B283A;
    font-size: 1.5625rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.title-job {
    color: #F47D27;
    font-weight: 300;
    font-size: 0.75rem;
    margin-top: 6px;
    margin-bottom: 0;
}

.title-website {
    color: #4A4E74;
    font-size: 0.625rem;
    margin-top: 8px;
    margin-bottom: 20px;
}

.title-social {
    display: flex;
    justify-content: space-between;
}

.title-links {
    min-width: 80px;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.875rem;
}

.title-links i {
    margin-right: 8px;
}

.title-links.white {
    background: white;
    color: #374151;
    border: 1px solid #D1D5DB;
    font-weight: 500;
}

.title-links.blue {
    background: #297FE5;
    color: #FFFFFF;
    font-weight: 300;
}

.content-header {
    font-size: 1rem;
    margin-bottom: 5px;
}

.content-paragraph {
    color: #4A4E74;
    font-size: 0.625rem;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 27px;
}

.footer {
    background: #D5D4D8;
    text-align: center;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    margin-top: 40px;
}

.footer-link {
    color: #918E9B;
    margin-right: 25px;
}

.footer-link:last-child {
    margin-right: 0;
}

.footer-link i {
    font-size: 25px;
}
