body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #2B283A;
}

header {
    background-color: #5F29A3;
    padding: 45px 0;
}

h1 {
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    font-size: 20px;
    color: #D0AAFF;
    margin: 0;
}

a {
    color: #EF5839;
    text-decoration: underline dotted;
}

a:hover, a:active {
    color: #D4B44C;
}

.container {
    width: 620px;
    margin: 0 auto;
}

section {
    padding: 45px 0;
}

.main-image {
    width: 100%;
}
